<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ScrollUpPress" value=""/>
    <add key="ScrollUpRelease" value=""/>

    <add key="ScrollDownPress" value=""/>
    <add key="ScrollDownRelease" value=""/>

    <add key="PageUp" value=""/>
    
    <add key="PageDown" value=""/>

  </appSettings>
</configuration>